# --- IDE y Entornos Virtuales (PyCharm / VSCode) ---
.idea/
.vscode/
venv/
env/
.env

# --- Python Core (Archivos compilados y caché) ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Archivos de Sistema (Mac / Windows) ---
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# --- PyInstaller (Carpetas de compilación y ejecutables) ---
build/
dist/
# Mantenemos el archivo .spec para versionar la configuración del build
# *.spec

# --- Proyecto: Salidas ---
output/
*.log
.geosnap_logs/

# --- Coverage Reports ---
.coverage
coverage.xml
htmlcov/
*.cover

# --- Proyecto: Entradas ---
# Ignoramos TODAS las fotos dentro de input (para no saturar GitHub)
input/*
!input/.gitkeep